<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ÜretimYS_Proje.Properties.Settings.UretimYonetimSistemiConnectionString"
            connectionString="Data Source=LAPTOP-9VQH2CNH\SQLEXPRESS;Initial Catalog=UretimYonetimSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ÜretimYS_Proje.Properties.Settings.UYSConnectionString"
            connectionString="Data Source=LAPTOP-9VQH2CNH\SQLEXPRESS;Initial Catalog=UYS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>